form .title{
    width: 100%;
}
.sbmbtn{
    float: right;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;
    margin: 10px 0px;
    border: 0px;
    cursor: pointer;
}
.sbmbtn:hover{
    background-color: turquoise;
}