body {
    padding: 50px;
}

form {
    position: absolute;
    top: 30%;
    left: 42%;
    width: 525px;
    height: 160px;
    margin-left: -150px;
    margin-top: -80px;
}

.tel{
    position: fixed;
}

input[type="submit"]{
    background-color: cornflowerblue;
    border: 0px;
    color: white;
    padding: 2%;
    margin: 5px 0px;
    width: 100%;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: turquoise;
}

h1{
    font-size: 25px;
    margin: 25px 0px;
}

.pwinfo, .idinfo, .nameinfo
{
    width: 100%;
}

p
{
    margin: 15px 0px;
}