form {
    position: absolute;
    top: 40%;
    left: 25%;

}
form input[type="submit"]{
    color: white;
    background: cornflowerblue;
    border: none;
    padding: 7px 8px;
}
form input[type="text"]{
    border: 1px solid cornflowerblue;
}