.info {
    border: 1px solid cornflowerblue;
    border-top: none;
    display: flow-root;
}
.info input[type="button"]{
    margin: 10px;
    background-color: cornflowerblue;
    color: white;
    border: 0px;
    padding: 10px 30px;
    float: right;
    cursor: pointer;
}
.info input[type="button"]:hover{
    background-color: turquoise;
}

.search{
    display: flow-root;
}
.search form{
    float: right;
    margin: 10px;
}
.search form input[type="submit"]{
    margin-left: 10px;
    background-color: cornflowerblue;
    color: white;
    border: 0px;
    padding: 10px 30px;
    float: right;
    cursor: pointer;
}
.search form input[type="submit"]:hover{
    background-color: turquoise;
}