#drop_file_zone {
  padding: 8px;
  font-size: 18px;
  flex : 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#drop_file_zone ul{
  width: fit-content;
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}
#drop_file_zone ul li{
  border: 1px solid lightgray;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  width: 105px;
  height: 105px;
}
#drop_file_zone ul li:hover{
  background-color: lightgray;
}
#drop_file_zone ul img{
  display: block;
  margin: 0px auto;
}      
#drop_file_zone ul li p{
  text-align: center;
  text-overflow: ellipsis;
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

#drag_upload_file #selectfile {
  display: none;
}

#drop_file_zone{
  height: 100%;
  width: 100%;
}

.leftmenu{
  position: absolute;
  z-index: 20;
  top: 99px;
  bottom: 30px;
  width: 165px;
  padding-bottom: 67px;
  border-right: 1px solid cornflowerblue;
  background-color: #fff;
  line-height: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.leftmenu ul li{
  display: flex;
}

.leftmenu ul li a{
  display: inline;
  margin: 6px;
  cursor: pointer;
}

.leftmenu ul li a:hover{
  color: turquoise;
}

.rightmenu{
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 99px;
  left: 167px;
  right: 0;
  bottom: 0;
  z-index: 20;
  padding: 0px 0 30px 0;

}

.storage{
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  
}
.storage li{
  cursor: pointer;
}

.progessbar{
  border-bottom: 1px solid lightgrey;
  padding: 12px 0px;
  margin: 0px 0px 15px 0px;
}

.searchform{
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.searchform ul{
  display: flex;
  padding: 18px 0px 0px 17px;
}
.searchform ul li input[type="submit"]{
  background-color: cornflowerblue;
  color: white;
  border: none;
  height: 38px;
  padding: 0px 10px;
  cursor: pointer;
}
.searchform ul li input[type="button"]{
  background-color: cornflowerblue;
  color: white;
  border: none;
  height: 40px;
  padding: 0px 10px;
  margin: 0px 5px 10px 0px;
  cursor: pointer;
}
.searchform ul li input[type="submit"]:hover{
  background-color: turquoise;
}
.searchform ul li input[type="button"]:hover{
  background-color: turquoise;
}

#file_list img{
  max-width: 100%; 
  max-height: auto;
  overflow: hidden;
}

