#drop_file_zone 
{
  padding: 8px;
  font-size: 18px;
  flex : 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#drop_file_zone ul
{
  width: fit-content;
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

#drop_file_zone ul li
{
  border: 1px solid lightgray;
  padding: 20px;
  margin-left: 9px;
  margin-right: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 105px;
  height: 105px;
}

#drop_file_zone ul li:hover
{
  background-color: lightgray;
}
#drop_file_zone ul img{
  display: block;
  margin: 0px auto;
}      

#drop_file_zone ul li p
{
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

#drag_upload_file #selectfile 
{
  display: none;
}

#drop_file_zone
{
  height: 100%;
  width: 100%;
}

.leftmenu
{
  position: absolute;
  z-index: 120;
  top: 94px;
  bottom: 30px;
  width: 165px;
  height: 100%;
  padding-bottom: 67px;
  border-right: 1px solid cornflowerblue;
  background-color: #fff;
  line-height: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.drive_option
{
  display: flex;
}

.leftmenu ul li a
{
  display: inline;
  margin: 6px;
  cursor: pointer;
}

.leftmenu ul li a:hover
{
  color: turquoise;
}

.rightmenu
{
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 94px;
  left: 165px;
  right: 0;
  bottom: 0;
  z-index: 20;
  padding: 0px 0 30px 0;

}

.storage
{
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.storage li
{
  cursor: pointer;
}

.userinfo
{
  margin-top: 3px;
  text-align: center;
  border-top: 1px solid lightgray;
  padding-top: 8px;
}

.login_info_div
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mypage_info_div
{
  text-align: center;
}

.all_data_info
{
  border-bottom: 1px solid lightgrey;
  text-align: right;
  width: 100%;
  padding-bottom: 8px;
}

.searchform
{
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.searchform ul
{
  display: flex;
  padding: 14px 0px 0px 17px;
}

.searchform ul li input[type="submit"]
{
  background-color: cornflowerblue;
  color: white;
  border: none;
  height: 38px;
  padding: 0px 10px;
  cursor: pointer;
}

.searchform ul li input[type="button"]
{
  background-color: cornflowerblue;
  color: white;
  border: none;
  height: 40px;
  padding: 0px 10px;
  margin-right: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 80px;
}

.searchform ul li input[type="submit"]:hover
{
  background-color: turquoise;
}

.searchform ul li input[type="button"]:hover
{
  background-color: turquoise;
}

#file_list img
{
  max-width: 100%; 
  max-height: auto;
  overflow: hidden;
}

.link
{
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 5px;

}

.link a
{
  cursor: pointer;
}

.link a:hover
{
  color: turquoise;
}


.selection 
{
  list-style-type: none;
  position: absolute;
  border: 1px solid cornflowerblue;
  background: cornflowerblue;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.dropped
{
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}	

.active 
{  
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.contextmenu 
{
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.contextmenu li 
{
  border-left: 3px solid transparent;
  transition: ease .2s;
  cursor: pointer;
}

.contextmenu li a 
{
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: ease .2s;
  cursor: pointer;
}

.contextmenu li:hover 
{
  background: cornflowerblue;
  border-left: 3px solid blue;
}

.contextmenu li:hover a 
{
  color: #FFFFFF;
}

.imgview
{
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.mkdirview
{
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  /*background-color: rgba(100, 149, 237, 0.9);*/
  background-color: rgba(0, 0, 0, 0.7);
}

.mkdir_from
{
    position: absolute;
    width: 300px;
    top: 50%;
    margin-top: -120px;
    margin-left: -150px;
    left: 50%;
}

.mkdir_from a
{
  color: white;
}

.mkdir_li_a
{
  margin: 0px 0px 5px;
}

.mkdir_submit_btn
{
    color: white;
    background: cornflowerblue;
    border: none;
    padding: 7px 8px;
    margin-top: 10px;
    margin-right: 5px;
    width: 49%;
    cursor: pointer;
}

.mkdir_cancle_btn
{
    color: white;
    background: cornflowerblue;
    border: none;
    padding: 7px 8px;
    margin-top: 10px;
    width: 49%;
    cursor: pointer;
}

.mkdir_from input[type="submit"]:hover
{
    background-color: turquoise;
}

.mkdir_from input[type="button"]:hover
{
    background-color: turquoise;
}

.mkdir_from input[type="text"]
{
    border: 1px solid cornflowerblue;
    width: 98%;
}

.imgview a
{
  cursor: pointer;
  right: 30px;
  font-size: 20px;
  position: absolute;
}

.imgview a:hover
{
  color:turquoise;
}

.imgview img
{
  position: relative;
}

.imgview li
{
  padding: 20px 0px 50px 0px;
}

#trash_empty
{
  color: lightgray;
  right: 0;
  position: absolute;
}

.nav_right_menu
{
  float: right;
  width: 260px;
}

#bell_img
{
  margin: 6px;
  cursor: pointer;
  position: relative;
  float: right;
}

.msgmenu 
{
  display: none;
  position: absolute;
  width: 100%;
  top: 45px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow: 0 15px 35px rgba(50,50,90,0.1), 0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
  font-size: 30px;
  border: 2px solid lightgrey;
}

.msgmenu li
{
  cursor: pointer;
}

.msgmenu li a
{
  padding: 0px 15px;
  text-align: center;
}

.msg_btn_left
{
  display: inline-block;
  border-bottom: 2px solid lightgray;
  border-right: 2px solid lightgray;
  background-color: cornflowerblue;
}

.msg_btn_left a
{
  padding: 0px 15px;
  text-align: center;
  color: white;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.msg_btn_left:hover
{
  background-color:turquoise;
}

.msg_btn_right
{
  display: inline-block;
  border-bottom: 2px solid lightgray;
  background-color: cornflowerblue;
}

.msg_btn_right a
{
  padding: 0px 15px;
  text-align: center;
  color: white;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.msg_btn_right:hover
{
  background-color:turquoise;
}

.msg_content:hover
{
  background-color: turquoise;
}

.msg_content_read
{
  background-color: lightgrey;
}

.msg_content_read:hover
{
  background-color: turquoise;
}

.msgcount
{
  text-align: center;
  margin: 13px 20px;
  color: red;
  position: fixed;
}

a, input, h1, img
{
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.logo
{
  position: absolute;
  cursor: pointer;
}

.loading_div
{
  z-index: 999;
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
}

.loading_img
{
  display: block;
  margin: auto;
  margin-top: 20%;
}

.search_condition
{
  border: 1px solid cornflowerblue;
  border-bottom: none;
  width: 313px;
  position: absolute;
  margin-left: 17px;
  margin-top: 0%;
  background: white;
  display: none;
}

.search_condition ul
{
  display: contents;
}

.search_condition ul li
{
  text-align: center;
  border-bottom: 1px solid cornflowerblue;
  padding: 10px;
}


.search_condition_submit_btn, .search_condition_cancle_btn
{
  background-color: cornflowerblue;
  color: white;
  border: none;
  height: 40px;
  padding: 0px 10px;
  margin-right: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 80px;
}