#drop_file_zone {
  padding: 8px;
  font-size: 18px;
  flex : 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}      

#drag_upload_file #selectfile {
  display: none;
}

#drop_file_zone{
  height: 100%;
  width: 100%;
}
.leftmenu{
  position: absolute;
  z-index: 20;
  top: 82px;
  bottom: 30px;
  width: 165px;
  padding-bottom: 67px;
  border-right: 1px solid cornflowerblue;
  background-color: #fff;
  line-height: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.leftmenu ul li{
  display: flex;
}
.leftmenu ul li a{
  display: inline;
  margin: 6px;
  cursor: pointer;
}
.leftmenu ul li a:hover{
  color: turquoise;
}

.rightmenu{
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 82px;
  left: 167px;
  right: 0;
  bottom: 0;
  z-index: 20;
  padding: 0px 0 30px 0;
}

.storage{
  height: 100%;
}
.storage p{
  cursor: pointer;
}
.storage p:hover{
  color: turquoise;
}

.trash{
  display: none;
  height: 100%;
  padding: 8px;
}
.trash p{
  cursor: pointer;
}
.trash p:hover{
  color: turquoise;
}