
.btm_list{
    width: 50%;
    margin: 0% 25%;
    top: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
}

.btm_list_item_title{
    text-align: center;
    text-decoration: none;
    color: cornflowerblue;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid cornflowerblue;
    border-top: none;
}
.btm_list_item input[type="button"]{
    background: cornflowerblue;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    display: block;
    float: right;
}

.btm_list_item input[type="button"]:hover{
    background-color: turquoise;
}

.btm_list_item{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    border: 1px solid cornflowerblue;
    border-top: none;
    font-weight: bold;
}

.btm_list_item a:hover{
    color: turquoise;
}

.paging{
	width: 50%;
    margin: 0% 25%;
    top: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
}

.paging ul{
    list-style:none;
	display:inline;
}

.page{
    display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}

.current {
    background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

.paging a {
    display: block;
}

.page_start {
    border:1px solid #ccc;
	margin-left:0;
}
.page_prev {
    border:1px solid #ccc;
	margin-right:7px;
}
.page_next {
    border:1px solid #ccc;
	margin-left:7px;
}
.page_end {
    border:1px solid #ccc;
	margin-right:0;
}